#!/bin/sh

# The following values are the defaults.

#CELERYD_MODULE='celery.bin.celeryd_detach'
#CELERYD_CONFIGS_DIR='/etc/multi-celeryd'
#CELERYD_PIDFILES_DIR='/run/multi-celeryd'
#CELERYD_LOGFILES_DIR='/var/log/multi-celeryd'

#CELERYD_UID='celery'
#CELERYD_GID='celery'
# or 'www-data'. depends on which is existent.
